
@{
    ViewBag.Title = "Add friend";
    HttpCookie cookie = Request.Cookies["User"];

    if (cookie == null)
    {
        Response.Redirect(Url.Action("Index", "Home"));
    }
}

<h2>Add friend</h2>
<p>
    Your friend has been added successfully.
</p>

