@using SynchronicWorld.Models
@model SynchronicWorld.Models.MyFriendModel

@{
    ViewBag.Title = "Parcipant";
    HttpCookie cookie = Request.Cookies["User"];

    if (cookie == null)
    {
        Response.Redirect(Url.Action("Index", "Home"));
    }
    
    var db = new SynchronicWorldDbContext();
}

<h2>Participant</h2>

<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
    </tr>

    @foreach (var user in Model.ListUsers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
        </tr>
    }

</table>
